<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarlalarım</title>
</head>
<body>
    <h1 style="text-align: center;">Sahip olunan tarlalar eklenecek</h1>
    
</body>
</html>